/* =================================== */
/*  Import Google Fonts
/* =================================== */

/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap'); */

@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css');

/* -----------------------------------
   Basic Style
 ----------------------------------- */
body {
  color: #303030;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.625em;
  position: relative;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #be2e2e;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #003366;
}
ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

iframe {
  border: 0;
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.clear::before, 
.clear::after {
  content: " ";
  display: table;
}
.clear::after {
  clear: both;
}

.section-full {
  padding: 100px 0;
}
.section-half {
  padding: 75px 0;
}
.light {
  color: #fff;
}
.dark {
  color: #222;
}
section{
  padding: 70px 0px;
}
.container.no-padding {
  padding-left: 0;
  padding-right: 0;
}
.row.no-margin {
  margin-left: 0;
  margin-right: 0;
}


/* -----------------------------------
   Typography
 ----------------------------------- */

h1, h2, h3,
h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  color: #131e29;
  line-height: 1.2em !important;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 400;
}

h1{
  font-size: 46px;
}

h2{
  font-size: 41px;
}

h3{
  font-size: 32px;
}

h4{
  font-size: 26px;
}

h5{
  font-size: 22px;
}

h6{
  font-size: 20px;
  color: #222222;
}

p{
  font-family: 'Questrial', sans-serif;
  line-height: 1.3em;
}

a {
  color: #c0402e;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
a:hover{
  color: #Blue;
}

a, a:focus, 
a:hover, 
.btn.focus, 
.btn:focus, 
.owl-dot, 
.owl-dot:focus, 
button, 
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus{
  text-decoration: none;
  outline: 0;
  box-shadow: none;
}


/* -----------------------------------
   Button Style
 ----------------------------------- */

button.btn{
  margin-bottom: 10px;

  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-weight: 600;
  text-transform:uppercase;
}
button.btn img{
  margin-right: 8px;
}
.btn-orange, .btn-blue{
  display: inline-flex;
  align-items: center;
  padding-left: 29px;
  padding-right: 29px;
  padding-top: 12px;
  padding-bottom: 12px;
  color:#ffffff !important;
  background-color:#a31b1b;
  border-radius: 5px;
  font-size: 18px;
  margin-bottom: 10px;
}
.btn-blue{
  color:#ffffff !important;
  background-color:#0f4094;
}
.btn-orange:hover{
  color:#ffffff !important;
  background-color:#be2e2e;
}
.btn-blue:hover{
  color:#ffffff !important;
  background-color:#1964c3;
}
.btn-round-light{
  color:#494949;
  background-color: #f9f9f9;
  border-radius: 5px;
  border:1px solid #ececec;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: 14px;
}
.btn-round-light:hover{
  background-color: #be2e2e;
  border:1px solid #be2e2e;
  color:#ffffff;
}
.bg-blue{
  background-color:#0f4094;
}
.bg-black{
  background-color:#1c1c1c;
}
.bg-gradiant{
  background: rgba(231,149,60,1);
  background: -moz-linear-gradient(-45deg, rgba(231,149,60,1) 0%, rgba(223,89,113,1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(231,149,60,1) 0%,rgba(223,89,113,1) 100%);
  background: linear-gradient(135deg, rgba(231,149,60,1) 0%,rgba(223,89,113,1) 100%);
}



/* -----------------------------------
   Top Part
 ----------------------------------- */

.logo{
  margin-right: 23px;
  font-size: 34px;
  font-family: "Poppins";
  color: rgb(42, 42, 42);
  font-weight: bold;
  line-height: 1.2;
  max-width: 220px;
}
.logo img{
  max-width: 100%;
}
.top-quick-links{
  text-align: right;
  width: 100%;
}
.top-quick-links li{
  display: inline-flex;
  padding: 0px 1px 0px 1px;
  margin: 2px 0px;
}
/*.top-quick-links li:first-child{
  border-right: 1px solid #dddddd;
  padding-right: 9px;
  margin-right: 5px;
}*/
.top-quick-links li a{
  text-transform: uppercase;
  font-size: 13px;
  line-height: normal;
  font-weight: 600;
  color: #003366;
}
.top-quick-links li a:hover{
  color:#be2e2e;
}
.school-corner a{
  border-bottom: 1px solid #dddddd;
  padding: 10px;
  text-transform: capitalize !important;
}
.school-corner .dropdown-menu{
  padding: 0px;
}
.school-corner .dropdown-item.active,
.school-corner .dropdown-item:active,
.school-corner .dropdown-item.active:hover{
  background-color: #163466 !important;
  color: #fff !important;
}
.school-corner a:last-child{
  border:none;
}
.toll-free{
    display: inline-flex;
    align-items: center;
    font-weight: 600;
}
.toll-free a{
  padding-left: 5px;
}
.extension-nav{
  display: inline-flex;
  align-items: center;
}
.extension-nav ul li{
  display: inline-block;
  margin-left: 10px;
}
.extra-elements, .header-menu-left{
  display: inline-flex;
  align-items: center;
}
.d-flex-inline{
  display: inline-flex;
}
ul li.search a{
border-radius: 100%;
    background-color: #f9f9f9;
    padding: 10px 14px 10px 14px;
    border: 1px solid #ececec;
    color: #494949;
    font-size: 14px;
 }
ul li.search a:hover {
    border: 1px solid #518ddf;
    background-color: #518ddf;
    color: #ffffff !important;
}
.search-panel{
  margin-right: 10px;
  background: transparent;
  padding: 0;
  box-shadow: 0 0 14px 0px rgba(0, 0, 0, 0.08);
}
.search-panel .input-group > input{
  width: 260px;
  border-right: none;
  height: 40px;
}
.search-panel .input-group > input:focus{
 box-shadow: none;
 outline: none;
 border-color:#dddddd;
}
.search-panel button.btn-light{
  margin-bottom: 0px;
  background:transparent;
  border-left: 0px;
  border-top: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
nav {
  position: relative;
  z-index: 33;
}

nav a{
  font-size: 14px;
  display:block;
  color:#131e29;
  font-weight: 600;
}
nav ul{
  list-style: none;
}
nav ul li > ul{
  background: #ffffff;
}
nav ul li > ul li ul{
  background: #f2f2f2;
}
nav ul > li{
    line-height: 40px;
    display: inline-block;
    position: relative;
    padding: 5px 10px;
}

nav ul > li i{
  margin-left: 5px;

}
nav ul > li ul.submenu li i{
  position: absolute;
  right: 10px;
  top:10px;
}
nav ul > li ul.submenu li{
   padding: 0px;
}
nav ul > li ul.submenu li a{
  padding: 0px 12px;
  position: relative;
  color: #131e29;
  font-size: 14px;
  line-height: 38px;
}
nav ul > li ul.submenu li a:hover{
  color: #be2e2e;
}
nav ul > li a:hover{
  color: #be2e2e;
  background: #ffffff;
}
nav ul > li ul{
  top: auto;
  right: 0;
  width: 200px;
  position: absolute;
  text-align:left;
}
nav ul ul li{
  position: relative;
  display:none;
}
nav ul ul ul{
  display:none;
}
nav ul li:hover ul li{
  display: block;
}

.main-menu{
  padding-right: 20px;
}
nav ul li:hover > ul.submenu{
  display:block;
   border-radius: 4px;
  position:absolute;
  right: -100%;

  box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.1);
}

.main-menu li.sub-menu{
  padding-right: 15px;
  background: url("../../assets/images/down-icon.png") no-repeat 100% 50%;
}
.main-menu li.sub-menu:hover{
  background: url("../../assets/images/up-icon.png") no-repeat 100% 50%;
}

.responsive-menu .main-menu li.sub-menu{
  padding-right: 0;
  background: none;
}
.responsive-menu .main-menu li.sub-menu:last-child{
  margin-bottom: 20px;
}
ul.submenu ul.submenu{
  top: 0;
}


.header-top{
  padding-top: 10px;
}
.main-navigation.header-sticky{
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  background: #fff;
}
/*.main-navigation.header-sticky .navigationDesktop .header-top{
  display: none;
}*/
.navigationDesktop .form-control{
  font-size: 14px;
}
.btn-signin-join{
  border-radius: 4px;
    padding: 5px 13px;
    font-size: 12px;
}
.main-navigation{
  padding: 10px 0px 12px;
  position: relative;
  background: transparent;
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.1);
}
.main-navigation.header-sticky .logo img{
  max-height: 50px;
}
.dropdown-menu.school-corner{
  padding: 0px;
}



/* -----------------------------------
   Banner
 ----------------------------------- */

.banner{
  background: #e8e8e8;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}
.banner .container .banner-item{
  background: #e8e8e8;
}
.banner .container .row{
  box-shadow:inset 0 8px 12px 1px rgba(0, 0, 0, 0.02);
  -moz-box-shadow:inset 0 8px 12px 1px rgba(0, 0, 0, 0.02);
  -webkit-box-shadow:inset 0 8px 12px 1px rgba(0, 0, 0, 0.02);
}

.banner h1{
  font-size: 46px;
  line-height: 1.15em !important;
  color: #131e29;
}
.banner span{
  color: #be2e2e;
  text-transform: uppercase;
}
.banner p{
  max-width: 450px;
  margin:15px 0px 35px;
}

/*.banner-video{
  padding: 165px 30px;
  background-position: center !important;
  background-size: cover !important;
  position: relative;
  border-radius: 6px;
}*/
.banner-content{
  padding: 50px 0;
}
.banner-content button.btn.btn-blue{
  margin-right: 5px;
}
.banner-image{
  align-self: flex-end;
}
.banner-image img{
  width: auto;
  max-width: 100%;
  margin: 0 auto;
}
.better-results-image{
  margin-bottom: -45px;
}

@media screen and (min-width: 1200px){
  .banner .container .row{
    min-height: calc(100vh - 213px);
    max-height: calc(100vh - 213px);
  }
  .banner-image img{
    height: calc(100vh - 221px);
    max-width: 550px;
    max-height: 404px;
  }
}
@media screen and (max-width: 991px){
  .banner-content{
    text-align: center;
  }
  .banner p{
    max-width: 100%;
  }
  .banner-image img{
    max-height: 300px;
    width: auto !important;
  }
}

.btn-video:hover{
  background: #3c1549;
}
.carousel-indicators {
  left: 0;
  top: auto;
  bottom: -40px;
}
.carousel-indicators li {
  background: #c3c3c3;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}
.carousel-indicators .active {
background: #003366;
}
.section-bg-element{
  background: url("../../assets/images/section-bg-element.png") no-repeat 0 50%;
}
.section-bg-element-2{
  background: url("../../assets/images/section-bg-element-2.png") no-repeat 100% 50%;
}
.tutelle-icon-box-1{
  display: inline-flex;
  align-items: center;
  padding: 18px 10px;
}
.tutelle-icon-box-1 .tutelle-icon{
  margin-right: 15px;
}
.tutelle-icon-box-1 .tutelle-box-description{
  font-size: 14px;
  line-height: normal;
}
.tutelle-box-description P{
  margin-bottom: 0px;
}
.tutelle-icon-box-1 .tutelle-title{
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}
.tutelle-icon-box-1.tutelle-box-light{
  color: #ffffff;
}
.tutelle-icon-box-1.tutelle-box-light .tutelle-title,
.tutelle-icon-box-1.tutelle-box-light a {
  color: #ffffff;
}
.app-store li{
  margin-right:5px;
  margin-bottom: 5px;
  display: inline-block;
}
.content-element .content-element-heading{
  margin-bottom: 15px;
}
.content-element ul{
  margin-top: 23px;
  margin-bottom: 20px;
  font-family: 'Questrial', sans-serif;
}
.content-element ul li{
  padding-bottom: 20px;
  position: relative;;
  padding-left: 30px;
  font-size: 16px;
  min-height: 30px;
  background: url("../../assets/images/checked.png") no-repeat 0 5px;
}
.content-element ul li:after{
  content: "";
  position: absolute;
  height: calc(100% - 18px);
  width: 1px;
  background: #8e8e8e;
  left: 9px;
  top: 23px;
}
.content-element ul li:last-child:after{
  display: none;
}

.content-element button.btn{
  margin-top: 16px;
}
.tutelle-match-height{
  display: flex;
}
.enhan-box{
  padding: 0 15px;
}
.tutelle-icon-box-2{
  padding: 10px 10px;
}
.tutelle-icon-box-2  .tutelle-icon{
  margin-bottom: 20px;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.tutelle-icon-box-2 a{
  width: 100%;
}
.board-curriculam{
  margin-left: 30px;
  border-radius: 8px;
  padding: 70px 40px;
   background: rgba(231,149,60,1);
  background: -moz-linear-gradient(-45deg,  rgba(231,149,60,1) 0%, rgba(223,89,113,1) 100%);
  background: -webkit-linear-gradient(-45deg,  rgba(231,149,60,1) 0%,rgba(223,89,113,1) 100%);
  background: linear-gradient(135deg,  rgba(231,149,60,1) 0%,rgba(223,89,113,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7953c', endColorstr='#df5971',GradientType=1 );
}
.board-curriculam a:hover{
  color: #ffffff;
}
.tutelle-icon-box-2 .tutelle-icon-box-2-elements{
  background: rgba(255,255,255,1);
  border-radius: 5px;
  box-shadow: 0px 0px 20px 0px rgba(64, 75, 90, 0.15);
  -moz-box-shadow: 0px 0px 20px 0px rgba(64, 75, 90, 0.15);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(64, 75, 90, 0.15);
  padding: 32px 16px 28px 16px;
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-weight: 600;
  height: 100%;
  border:1px solid #e2e2e2;
}
.tutelle-icon-box-2 .tutelle-icon-box-2-elements:hover{
   box-shadow: 0px 0px 35px 0px rgba(52, 119, 209, 0.20);
  -moz-box-shadow: 0px 0px 35px 0px rgba(52, 119, 209, 0.20);
  -webkit-box-shadow: 0px 0px 35px 0px rgba(52, 119, 209, 0.20);
  background: #184094;
  color: #fff;
}
.tutelle-icon-box-2 .tutelle-icon-box-2-elements:hover .tutelle-title{
  color: #fff;
}
.tutelle-icon-box-2 .tutelle-icon-box-2-elements:hover .tutelle-icon img{
filter: invert(1) brightness(100);
-webkit-filter: invert(1) brightness(100);
-ms-filter: invert(1) brightness(100);
-moz-filter: invert(1) brightness(100);
-o-filter: invert(1) brightness(100);
}
.tutelle-icon-box-2 .tutelle-title{
  font-size: 18px;
  font-weight: 600;
  word-break: break-word;
}
.tutelle-icon-box-3 a{
  display: block;
  padding: 30px 10px;
}
.tutelle-icon-box-3 a:hover{
  background: #000000;
}
.tutelle-icon-box-2 .tutelle-title a{
  color: #ffffff;
}
.approach-results{
  padding-top: 70px;
  background: #e8e8e8;
}
.approach-results ul li{
}

.visual-learning-tabs {
    display: table;
    margin: 0 auto;
}
.visual-learning-tabs li{
  display: inline-block;
  margin: 5px;
}
.visual-learning-tabs li a{
  padding: 10px 20px;
  color: #000000;
}
.visual-learning .tab-content .banner-video-2{
    padding: 80px 30px 80px;
}
.visual-learning .tab-content .btn-video{
   height: 50px;
    width: 50px;
}
.nav-pills .nav-link.active{
  background-color: #e8e8e8;
  color: #163466;
}
.nav-pills .nav-link{
  background-color: #184094;
  color: #fff;
}
.offerings{
  position: relative;
  height: 100%;
  background: #fff;
  border-radius: 6px;
  border: 1px solid #d2d2d2;

  box-shadow: 0px 0px 20px 0px rgba(64, 75, 90, 0.2);
  -moz-box-shadow: 0px 0px 20px 0px rgba(64, 75, 90, 0.2);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(64, 75, 90, 0.2);

  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.offerings .content-element{
  padding: 0px 25px 40px;
  text-align: left;
  color:#003366;
}
.offerings .content-element li{
  font-family: 'Questrial', sans-serif;
  color: #000;
  line-height: 24px;
  padding-bottom: 10px;
}
.offerings .class-info{
  margin-top: 9px;
  position: relative;
  margin-left: -15px;
  font-size: 22px;
  font-weight: bold;
  padding: 15px 15px 15px 30px;
  text-align: left;
  display: inline-block;
  width: 100%;
}
.offerings .class-info:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -13px;
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 0px solid transparent;
    border-top: 13px solid rgb(0, 0, 0);
}
.offerings .btn{
  position: absolute;
  font-size: 16px;
 bottom: -32px;
 left: 50%;
 transform: translate(-50%,0%);
}
.offerings .btn i{
  margin-right: 5px;
}
.offerings .btn.btn-blue{
  background: #003366;
}
.offerings .btn.btn-blue:hover{
  background: #0757a7;
}
.special-module-heading{
  font-size: 18px;
  font-weight: 600;
  line-height: 1.4em;
  margin-bottom: 0;
}
.banner-video-2{
  overflow: hidden;
   padding: 0;
}
.tab-pane img.modal-pic{
  cursor: pointer;
  border-radius: 8px;
}
.testimonails{
    margin: 20px 0px;
    background: #ffffff;
    border-radius: 5px;
    border: 1px solid #e2e2e2;
    padding: 29px 25px;
    width: calc(100% - 2px);

    /*box-shadow: 0px 0px 20px 0px rgba(64, 75, 90, 0.15);
    -moz-box-shadow: 0px 0px 20px 0px rgba(64, 75, 90, 0.15);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(64, 75, 90, 0.15);*/
}
.testimonails .testimonails-content{
   font-size: 16px;
    color: #494949;
}
.testimonails-author-info{
  width: 100%;
  margin-top: 39px;
  display: flex;
  align-items: center;
}
.testimonails-author-description .testimonails-author{
    font-size: 14px;
    font-weight: 500;
    color: #131e29;
}
.testimonails .testimonails-author-description{
  line-height: 1;
}
.testimonails-author-description span{
  font-size: 12px;
}
.testimonails-user-icon{
  margin-right: 10px;
}
.subscribe-section{
  padding: 25px 0px;
}
.subscribe-section .btn-blue:hover {
    background-color: #4d4d4d;
}
.subscribe-section .btn-black:hover {
    background-color: #538cdb;
}
footer{
  padding: 60px 0px 0px;
  background: #f8f8f8;
}
footer h4{
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
}
.footer-links li a{
    color: #707070;
    font-size: 13px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}
.footer-links li a:before{
  content: '';
  display: inline-block;
  height: 1.2px;
  width:0px;
  margin-right: 0px;
  background: #be2e2e;
 -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.footer-links li a:hover{
  color: #be2e2e;
}
.footer-links li a:hover:before{
   width:6px;
   margin-right: 5px;
}
.news-letter{
  background: #e8e8e8;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}
.news-letter h4{
  font-size: 17px;
}
.news-letter p{
  font-size: 15px;
}
.news-letter span{
  font-size: 14px;
  color: #707070;
}
.social-media{
  text-align: right;
}
.social-media h4{
  margin-bottom: 15px;
}
.social-media li{
  display: inline-block;
}
.social-media li a{
  height: 40px;
  width: 40px;
  border: 1px solid #dddddd;
  display: block;
  text-align: center;
  line-height: 40px;
  border-radius: 4px;
  color: #be2e2e;
}
.social-media li a:hover{
  background: #be2e2e;
  color: #ffffff;
  border: 1px solid #be2e2e;
}
.social-media li a.fa:hover{
  background: #3a599a;
  border-color: #3a599a;
}
.social-media li a.tw:hover{
  background: #43ccf0;
  border-color: #43ccf0;
}
.social-media li a.li:hover{
  background: #0275b6;
  border-color: #0275b6;
}
.social-media li a.go:hover{
  background: #d53e35;
  border-color: #d53e35;
}
.social-media li a.sk:hover{
  background: #179fe6;
  border-color: #179fe6;
}



.new-letter-submit{
  margin-top: 10px;
}
.new-letter-submit input{
  font-size: 14px;
  color: #707070;
  padding: 11px 18px;
  
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border: 1px solid #dddd;
  border-right: none;
  height: 49px;
  width: calc(100% - 51px);
  float: left;

  -webkit-border-top-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-bottomleft: 6px;
}
.new-letter-submit input:focus{
  outline: none;
}
.new-letter-submit button{
  background: #fff;
  border: 1px solid #dddddd;
  padding: 8px;
  -webkit-border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-left: none;
  margin-left: -5px;
  height: 49px;
  position:relative;
  top:0px;
  cursor: pointer;
}
.questions{
  font-weight:600;
}
.toll-free-number{
  font-weight: 600;
  margin-bottom: 15px;
}
.toll-free-number span{
  font-weight: 400;
  font-size: 13px;
}
.toll-free-number p{
  margin-bottom: 0px;
}
.footer-bottom{
  border-top: 1px solid #dddddd;
  padding: 10px 0px 10px;
}

.footer-quick-links{
  text-align: left;
  width: 100%;
}
.footer-quick-links li{
  border-right: 1px solid #707070;
  display: inline-flex;
  padding: 0px 10px 0px 6px;
  font-size: 13px;
  line-height: normal;
  font-weight: 500;
}
.footer-quick-links li:last-child{
   border-right: none;
}
.footer-quick-links li a{
  color: #707070;
}
.footer-quick-links li a:hover{
  color:#a5351b;
}
#footer-menu-3{
  height: 100%;
  border-right: 1px solid #dddddd;
}



.widget ul.link{
    margin-bottom: 11px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(221, 221, 221, 0.16);
}
.widget ul.link li{
  margin-bottom: 5px;
}
.widget .toll-free{
  color: #ffffff;
  margin-bottom: 10px;
}
.widget ul button.btn{
  margin-top: 5px;
  margin-bottom: 5px;
}



/* Modal Style */
.login-registration-area button.close{
    position: absolute;
    right: -1px;
    top:-1px;
    background: transparent;
    color: #a31b1b;
    padding: 6px 12px;
    opacity: 1;
    z-index: 333;
    font-size: 35px;
}
.login-registration-area button.close:hover{
    background: #transparent;
    color: #be2e2e;
}


.login-registration-area{
    border: 0;
    border-radius: 20px 0 !important;
    overflow: hidden;
}
.login-registration-area .form-group{
  margin-bottom: 10px;
}
.login-registration-area form input.form-control, 
.login-registration-area form select.form-control{
  height: 40px !important;
  font-size: 15px;
  border: none;
  border-bottom: solid 2px #b3b3b3;
  background: transparent;
  border-radius: 0px;
}
.login-registration-area .form-group input{
  color: #163466 !important;  
}
.login-registration-area .form-group input::placeholder, 
.form-group select::placeholder{
  color: #163466 !important;
  opacity: 0.9;
}
.login-registration-area form select.form-control option{
  background: #163466;
}

.login-registration-area .form-control{
  color: #163466;
}
.login-registration-area .form-control:focus{
  box-shadow: none;
  outline: none !important;
  background: transparent !important;
}


.login-box{
  margin-top: -1px;
  padding: 100px 30px;
}

.login-registration-area .login-register-banner{
  display: flex;
  font-family: 'Questrial', sans-serif;
  background: url(../../assets/images/login-img.png) 100% 100% no-repeat;
  padding-right: 16%;
}
.login-register-banner .banner-content{
  align-self: center;
  padding: 60px 20px 40px 20px;
  max-width: 100%;
}
.login-register-banner .banner-content .school-logo{
  margin-bottom: 20px;
  max-width: 100%;
}
.login-register-banner .banner-content .lightbox-logo{
  margin-bottom: 100px;
}
.login-box .lightbox-logo{
  margin-bottom: 30px;
  text-align: center;
}
.login-box .lightbox-logo img{
  max-height: 80px;
  max-width: 198px;
}
.login-register-banner h2{
  /*font-size: 46px;*/
  line-height: 1.3em !important;
}
.login-register-banner .banner-content span {
    background: #dc5851;
    padding-left: 13px;
    padding-right: 13px;
    color: #ffffff;
}

form a:hover{
  color: #1c1c1c;
}
.forgot-password{
  float: right;
}
.remember-me-area{
  font-size: 15px;
}
#forgot-password{
  text-align: center;
  font-size: 14px;
}
.new-account{
  /*text-align: center;*/
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  margin-bottom: -1px;
  line-height: 22px;
}
.signup-login-btn{
  background: url(../../assets/images/button-icon/join-now-icon.png) #a31b1b;
  background-position: 17px 50%;
  background-size: 30px;
  background-repeat: no-repeat;
  margin-top: 25px;
  padding: 12px 29px 12px 50px;
}
.signup-login-btn:hover{
  background-color: #be2e2e;
}
.login-signup-modal-footer{
  background: #0f4094;
}
.login-signup-modal-footer a{
  color: #f2ca24; 
}
.login-signup-modal-footer a:hover{
  color: #a5351b;
}

.lightbox-partner{
  margin-bottom: 15px;
}

.show-passoword{
  position: relative;
}
.show-passoword .password-icon{
  position: absolute;
  top: 4px;
  right: 0;
  width: 30px;
  height: 30px;
}
.show-passoword .password-icon{
  background: url("../../assets/images/pass-hide.png") no-repeat 0 50%;
}
.show-passoword .password-icon.show{
  background: url("../../assets/images/pass-show.png") no-repeat 0 50%;
}


.bg-yellow{
  background: #f2ca24;
}
.bg-gray{
  background: #e8e8e8;
}

.user-role{
  overflow: hidden;
}
.user-role .form-check{
  float: left;
  width: 33.33%;
  margin: 0;
  text-align: center;
}
.user-role .form-check input[type=radio]{
  display: none;
}
.user-role .form-check label{
  width: 100%;
  padding: 6px;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}
.user-role .form-check input[type="radio"]+label{
  cursor: pointer;
}
.user-role .form-check input[type="radio"]:checked+label{
  background: #0f4094;
  color: #fff;
}


.remember-me-area{
  margin-top: 25px;
  color: #163466;
}
.remember-me-area .checkbox{
  height: 18px;
  width: 18px;
  border: none;
  background: #fff;
  margin-right: 12px;
}
.remember-me{
  margin-right: 20px;
}
label.user-role{
  font-size: 22px;
  font-weight: 600;
}



.modal-backdrop.show {
    opacity: .85;
}

@media (min-width: 768px){
  .modal-dialog{
    max-width: 800px;
    width: 90%;
  }
}


.content {
  width: 260px;
  margin: 100px auto;
}

.colors {
  width: 260px;
  float: left;
  margin: 20px auto;
}

.colors a {
  width: 43.3px;
  height: 30px;
  float: left;
}

.colors .default {
  background: #414956;
}

.colors .blue {
  background: #4A89DC;
}

.colors .green {
  background: #03A678;
}

.colors .red {
  background: #ED5565;
}

.colors .white {
  background: #fff;
}

.colors .black {
  background: #292929;
}

.jquery-accordion-menu,
.jquery-accordion-menu * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  outline: 0
}
.open-menu{

}
.responsive-menu{
    left: -100%;
    z-index: 999;
    position: fixed;
    background: #292929;
    top: 0;
    transition: all 0.3s;
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
}
.jquery-accordion-menu {
    width: 100%;
}
.responsive-menu.highlight{
  left: 0;
}
.jquery-accordion-menu-header .logo{
  padding-top: 10px;
  padding-bottom:10px;
}
.jquery-accordion-menu .jquery-accordion-menu-footer,
.jquery-accordion-menu .jquery-accordion-menu-header {
  width: 100%;
  padding-right: 22px;
  padding-left: 22px;
  float: left;
  line-height: 70px;
  font-weight: 600;
  color: #ffffff;
  background: #ffffff;
}

.close-slide-menu{
  color: #000000
}
.jquery-accordion-menu ul {
  margin: 0;
  padding: 0;
  list-style: none
}

.jquery-accordion-menu ul li {
  width: 100%;
  display: block;
  float: left;
  position: relative
}

.jquery-accordion-menu ul li a {
  width: 100%;
  padding: 14px 22px;
  float: left;
  text-decoration: none;
  color: #f0f0f0;
  font-size: 13px;
  background: #003366;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  -o-transition: color .2s linear, background .2s linear;
  -moz-transition: color .2s linear, background .2s linear;
  -webkit-transition: color .2s linear, background .2s linear;
  transition: color .2s linear, background .2s linear
}

.jquery-accordion-menu>ul>li.active>a,
.jquery-accordion-menu>ul>li:hover>a {
  color: #ffffff;
  background: #be2e2e;
}

.jquery-accordion-menu>ul>li>a {
  border-bottom: solid 1px rgba(255, 255, 255, 0.08);
}

.jquery-accordion-menu ul li a i {
  width: 34px;
  float: left;
  line-height: 27px;
  font-size: 16px;
  text-align: left
}

.jquery-accordion-menu .submenu-indicator {
  float: right;
  right: 22px;
  position: absolute;
  line-height: 19px;
  font-size: 20px;
  -o-transition: transform .3s linear;
  -moz-transition: transform .3s linear;
  -webkit-transition: transform .3s linear;
  -ms-transition: transform .3s linear
}

.jquery-accordion-menu ul ul.submenu .submenu-indicator {
  line-height: 16px
}

.jquery-accordion-menu .submenu-indicator-minus>.submenu-indicator {
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}

.jquery-accordion-menu ul ul.submenu,
.jquery-accordion-menu ul ul.submenu li ul.submenu {
  width: 100%;
  display: none;
  position: static
}

.jquery-accordion-menu ul ul.submenu li {
  clear: both;
  width: 100%
}

.jquery-accordion-menu ul ul.submenu li a {
  width: 100%;
  float: left;
  font-size: 11px;
  background: #383838;
  border-top: none;
  position: relative;
  border-left: solid 6px transparent;
  -o-transition: border .2s linear;
  -moz-transition: border .2s linear;
  -webkit-transition: border .2s linear;
  transition: border .2s linear
}

.jquery-accordion-menu ul ul.submenu li:hover>a {
  border-left-color: #be2e2e
}

.jquery-accordion-menu ul ul.submenu>li>a {
  padding-left: 30px
}

.jquery-accordion-menu ul ul.submenu>li>ul.submenu>li>a {
  padding-left: 45px
}

.jquery-accordion-menu ul ul.submenu>li>ul.submenu>li>ul.submenu>li>a {
  padding-left: 60px
}

.jquery-accordion-menu ul li .jquery-accordion-menu-label,
.jquery-accordion-menu ul ul.submenu li .jquery-accordion-menu-label {
  min-width: 20px;
  padding: 1px 2px 1px 1px;
  position: absolute;
  right: 18px;
  top: 14px;
  font-size: 11px;
  font-weight: 800;
  color: #555;
  text-align: center;
  line-height: 18px;
  background: #f0f0f0;
  border-radius: 100%
}

.jquery-accordion-menu ul ul.submenu li .jquery-accordion-menu-label {
  top: 12px
}

.ink {
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, .3);
  border-radius: 100%;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0)
}

.animate-ink {
  -webkit-animation: ripple .5s linear;
  -moz-animation: ripple .5s linear;
  -ms-animation: ripple .5s linear;
  -o-animation: ripple .5s linear;
  animation: ripple .5s linear
}

@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5)
  }
}

@-moz-keyframes ripple {
  100% {
    opacity: 0;
    -moz-transform: scale(2.5)
  }
}

@-o-keyframes ripple {
  100% {
    opacity: 0;
    -o-transform: scale(2.5)
  }
}

@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5)
  }
}

.blue.jquery-accordion-menu .jquery-accordion-menu-footer,
.blue.jquery-accordion-menu .jquery-accordion-menu-header,
.blue.jquery-accordion-menu ul li a {
  background: #4A89DC
}

.blue.jquery-accordion-menu>ul>li.active>a,
.blue.jquery-accordion-menu>ul>li:hover>a {
  background: #3e82da
}

.blue.jquery-accordion-menu>ul>li>a {
  border-bottom-color: #3e82da
}

.blue.jquery-accordion-menu ul ul.submenu li:hover>a {
  border-left-color: #3e82da
}

.green.jquery-accordion-menu .jquery-accordion-menu-footer,
.green.jquery-accordion-menu .jquery-accordion-menu-header,
.green.jquery-accordion-menu ul li a {
  background: #03A678
}

.green.jquery-accordion-menu>ul>li.active>a,
.green.jquery-accordion-menu>ul>li:hover>a {
  background: #049372
}

.green.jquery-accordion-menu>ul>li>a {
  border-bottom-color: #049372
}

.green.jquery-accordion-menu ul ul.submenu li:hover>a {
  border-left-color: #049372
}

.red.jquery-accordion-menu .jquery-accordion-menu-footer,
.red.jquery-accordion-menu .jquery-accordion-menu-header,
.red.jquery-accordion-menu ul li a {
  background: #ED5565
}

.red.jquery-accordion-menu>ul>li.active>a,
.red.jquery-accordion-menu>ul>li:hover>a {
  background: #DA4453
}

.red.jquery-accordion-menu>ul>li>a {
  border-bottom-color: #DA4453
}

.red.jquery-accordion-menu ul ul.submenu li:hover>a {
  border-left-color: #DA4453
}

.white.jquery-accordion-menu .jquery-accordion-menu-footer,
.white.jquery-accordion-menu .jquery-accordion-menu-header,
.white.jquery-accordion-menu ul li a {
  background: #fff;
  color: #555
}

.white.jquery-accordion-menu>ul>li.active>a,
.white.jquery-accordion-menu>ul>li:hover>a {
  background: #f0f0f0
}

.white.jquery-accordion-menu>ul>li>a {
  border-bottom-color: #f0f0f0
}

.white.jquery-accordion-menu ul ul.submenu li:hover>a {
  border-left-color: #f0f0f0
}

.white.jquery-accordion-menu ul ul.submenu li a {
  color: #f0f0f0
}

.white.jquery-accordion-menu>ul>li>a>.ink {
  background: rgba(0, 0, 0, .1)
}

.black.jquery-accordion-menu .jquery-accordion-menu-footer,
.black.jquery-accordion-menu .jquery-accordion-menu-header,
.black.jquery-accordion-menu ul li a {
  background: #292929
}

.black.jquery-accordion-menu>ul>li.active>a,
.black.jquery-accordion-menu>ul>li:hover>a {
  background: #222
}

.black.jquery-accordion-menu>ul>li>a {
  border-bottom-color: #222
}

.black.jquery-accordion-menu ul ul.submenu li:hover>a {
  border-left-color: #222
}

#msform fieldset:not(:first-of-type), #msform-2 fieldset:not(:first-of-type){
    display: none
}

#msform .action-button, 
#msform-2 .action-button{
  background: url(../../assets/images/button-icon/join-now-icon.png) #131313;
  background-position: 17px 50%;
  background-size: 35px;
  background-repeat: no-repeat;
  margin-top: 15px;
  font-size: 18px;
  border-radius: 50px;
  padding-left: 62px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 29px;
  float: right;
  text-transform: uppercase;
  border: none;
  color: #ffffff;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
#msform .action-button-previous, 
#msform-2 .action-button-previous{
  float: left;
  background:transparent;
  border:none;
  color: #ffffff;
  margin-top: 33px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding:0px 0 0 15px !important;
  line-height: normal;
  cursor: pointer;
  background: url(../images/i-back.png) no-repeat 0 50%;
}
#msform .action-button:hover, 
#msform .action-button:focus, 
#msform-2 .action-button:hover, 
#msform-2 .action-button:focus{
  background-color: #ff8c86;
}
#msform .action-button-previous:hover,
#msform .action-button-previous:focus, 
#msform-2 .action-button-previous:hover,
#msform-2 .action-button-previous:focus{
  border-bottom: 1px solid #ffffff;
}
.card {
    z-index: 0;
    border: none;
    position: relative
}

.fs-title {
    font-size: 25px;
    color: #673AB7;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left
}

.fixed-message{
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  padding-top: 5px;
  padding-bottom: 3px;
  z-index: 4;

  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.fixed-message a{
  color: #ffcc00;
}
.arrow-bottom{
  padding: 2px 30px 2px 0;
  background: url('../images/button-icon/arrow-bottom.png') no-repeat 100% 50%;
}
.arrow-bottom:hover{
  background: url('../images/button-icon/arrow-bottom-hover.png') no-repeat 100% 50%;
}

.fixed-message .app-store li{
  margin-left: 15px;
}
.fixed-message-closed{
  cursor: pointer;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 22;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.fixed-message-slideup{
  bottom: -100%;
}
.fixed-message-rotate{
  transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  -o-transform:rotate(180deg);
}
.chat-bot{
  position: fixed;
  right: 10px;
  bottom: 100px;
  z-index: 3;
}
@media screen and (min-width:980px) and (max-width:1200px){
  .widget-bar .widget ul.link{
    display: none;
  }
}

@media screen and (max-width:1023px){
.logo {
  margin-left: 25px;
  margin-right: 0px;
  font-size: 25px;
}
.slide-menu{
  font-size: 26px;
}
.tutelle-icon-box-1{
  display: block;
  align-items: inherit;
}
.tutelle-icon-box-1 .tutelle-icon{
  margin-right: 0px;
  margin-bottom: 15px;
}


.signup-login-btn, #msform .action-button, #msform .action-button-previous{
  font-size: 16px;
  padding-top: 15px;
   padding-bottom: 15px;
}
.btn-round-light{
   padding-bottom: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.main-navigation .extra-elements, .main-navigation .navigationDesktop{
  display: none;
}
.main-navigation .responsive-menu .extra-elements{
  display: block;
  padding: 0 15px;
}
.main-navigation .responsive-menu .extra-elements li{
  display: inline-block;
}
.responsive-menu .top-quick-links {
  margin-top: 20px;
  padding: 0 15px;
}
.jquery-accordion-menu .jquery-accordion-menu-footer{
  margin-bottom: 20px;
}
.responsive-menu .top-quick-links li{
    padding: 5px 10px;
}
}
@media screen and (min-width:1024px){
  .slide-menu, #jquery-accordion-menu{
   display: none; 
  }
}
@media screen and (max-width:991px){

  h1{
    font-size: 40px;
  }

  h2{
    font-size: 35px;
  }

  h3{
    font-size: 30px;
  }

  h4{
    font-size: 25px;
  }

  h5{
    font-size: 21px;
  }

  h6{
    font-size: 19px;
    color: #222222;
  }

  section{
    padding: 50px 0px;
  }
  .sina-nav .navbar-toggle{
    margin-top: 0px !important;
  }
  .banner h1 {
      font-size: 40px;
  }
  .banner-video{
    margin-top: 60px;
    padding: 100px 30px;
  }
  .banner-video-2{
     margin-top: 10px;
     padding: 30px 60px;
  }
  .better-results-image{
      margin-top: 40px;
  }
  .banner p {
      margin: 21px 0px 21px;
  }
  .special-module-heading{
    text-align: center;
    margin-bottom: 30px;
  }
  .subscribe-section{
    text-align: center;
  }
  .tutelle-icon-box-2{
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .tutelle-icon-box-2 .tutelle-icon-box-2-elements{
    margin: 5px;
    width: calc(100% - 10px);
  }
  .footer-links{
    margin-bottom: 30px;
  }
  .videos .carousel.slide{
    margin-bottom: 50px;
  }
  /*.footer-bottom{
    margin-top: 20px;
  }*/
  .social-media{
    text-align: left;
    margin-top: 50px;
  }
  .footer-bottom.d-flex{
    display: block !important;
  }
  .top-quick-links li a{
    color: #ffffff;
  }
  footer{
    padding: 50px 0px 0px;
  }
  footer .app-store{
  text-align: center !important;
  }
  .app-store ul img{
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .approach-learning .content-element{
    margin-bottom: 30px;
  }
  .login-box, #free-registration{
    padding: 100px 20px 80px 20px !important;
  }
  .login-register-banner .banner-content{
      padding: 20px 10px 20px 10px;
  }
  .modal-ml-minus{
    margin-left: -16px;
    display: flex;
  }
  .competitive-exam{
    padding-bottom: 30px !important;
  }
  .board-curriculam{
      margin: 14px;
      padding: 30px;
  }
  .board-curriculam h3{
    font-size: 24px;
  }
  .offerings{
    height: auto;
    margin-bottom:50px;
  }
  .banner-content{
    padding: 30px 0;
  }
}

@media screen and (max-width:767px){
  .banner h1, .login-register-banner h1{
    font-size: 36px;
    line-height: 1.2em !important;
  }
  h1{
    font-size: 34px;
  }

  h2{
    font-size: 28px;
  }

  h3{
    font-size: 23px;
  }

  h4{
    font-size: 21px;
  }

  h5{
    font-size: 20px;
  }
  p{
    font-size: 16px;
  }
  .tutelle-icon-box-2 .tutelle-title{
        font-size: 16px;
  }

  .special-module-heading{
    font-size: 20px;
  }

  footer h4{
    font-size: 16px;
  }
  .footer-quick-links{
    font-size: 13px;
    /*text-align: center;*/
  }
  .new-letter-submit button{
    /*top: 0.6px;*/
  }
  .tutelle-icon-box-1{
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
  }
  .offerings .content-element {
      padding: 0px 20px 20px 20px;
      text-align: left;
  }
  .fixed-message p{
    line-height: normal;
    font-size: 15px;
    max-width: 300px;
  }
  .tutelle-icon-box-2{
    padding: 0;
  }

  .tutelle-icon-box-2 .tutelle-icon-box-2-elements{
    width: calc(100% - 5px);
  }
  .tutelle-icon-box-2:nth-child(odd) .tutelle-icon-box-2-elements{
    margin-left: 0px;
  }
  .tutelle-icon-box-2:nth-child(even) .tutelle-icon-box-2-elements{
    margin-right: 0px;
  }

  .visual-learning-tabs{
    width: 100%;
  }
  .visual-learning-tabs li{
    display: block;
    margin: 5px 0;
    width: 100%;
    line-height: 24px;
  }
  .visual-learning-tabs li .nav-link{
    padding: 15px;
  }
  .tab-pane img.modal-pic{
    margin-bottom: 20px;
  }
  .login-registration-area .login-register-banner{
    padding-right: 15px;
    background-image: none;
  }
  .login-box, #free-registration{
    padding: 30px 20px 30px 20px !important;
  }
  .login-register-banner .banner-content .school-logo{
    max-width: 200px;
  }
}
@media screen and (max-width: 575px){
  .menu-list{
    overflow: hidden;
     display: none;
    }
}

@media screen and (max-width: 400px){
  .tutelle-icon-box-1{
    flex: 0 0 100%;
    max-width: 100%;
  }
  .tutelle-icon-box-2{
    flex: 0 0 100%;
    max-width: 100%;
  }
  .tutelle-icon-box-2 .tutelle-icon-box-2-elements{
    margin-left: 0;
    margin-right: 0;
  }
}


#marquee {
    overflow: hidden;
    white-space: nowrap;
}

.banner .owl-dots{
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -36px
}

.menu-list .submenu{
  display: none;
}


/* ---- Login Page ---- */
.login-page{
  background-color: rgba(0, 0, 0, 0.85);
  min-height: 100vh;
  padding: 80px 30px;
}
.login-page .login-registration-area{
  background: #fff;
  max-width: 800px;
  margin: 0 auto;
}
